<div class="flex flex-wrap">
  <span class="mr-2 mt-1">
    <ng-icon name="bootstrap-tools" size="24" strokeWidth="4"></ng-icon>
  </span>
  <h1>Projects</h1>
  <button class="ml-4" *ngIf="session.data.signedIn" (click)="newProject()">
    New Project
    <ng-icon
      name="bootstrap-plus-circle"
      size="16"
      strokeWidth="4"
      class="relative top-0.5"
    ></ng-icon>
  </button>
</div>

<app-project-card
  *ngFor="let project of paginated"
  [project]="project"
  (editProject)="editProject($event)"
></app-project-card>

<app-pagination-controls
  [count]="count"
  [limit]="limit"
  [offset]="offset"
  (pageChanged)="pageChanged($event)"
  (limitChanged)="limitChanged($event)"
></app-pagination-controls>

<app-project-dialog
  [newProject]="editor['new']"
  [editProject]="editor['edit']"
  (createProject)="createProject($event)"
  (updateProject)="updateProject($event)"
></app-project-dialog>
