<div id="pagination-controls" class="flex flex-wrap justify-between">
  <button (click)="firstPage()">
    <ng-icon
      name="bootstrap-chevron-bar-left"
      size="16"
      strokeWidth="4"
    ></ng-icon>
    First
  </button>
  <button (click)="previousPage()">
    <ng-icon name="bootstrap-chevron-left" size="16" strokeWidth="4"></ng-icon>
    Previous
  </button>
  <div>
    <label for="per-pag">Per Page</label>
    <select name="per-page" (change)="limitSelectChanged($event)">
      <option
        *ngFor="let p of perPageOptions"
        [value]="p"
        [selected]="p == perPage"
      >
        {{ p }}
      </option>
    </select>
  </div>
  <div>
    <strong>{{ first }}</strong>
    to
    <strong>{{ last }}</strong>
    of
    <strong>{{ count }}</strong>
  </div>
  <div>
    <label for="page">Page</label>
    <select name="page" (change)="pageSelectChanged($event)">
      <option *ngFor="let p of pages" [value]="p" [selected]="p == current">
        {{ p }}
      </option>
    </select>
  </div>
  <button (click)="nextPage()">
    Next
    <ng-icon name="bootstrap-chevron-right" size="16" strokeWidth="4"></ng-icon>
  </button>
  <button (click)="lastPage()">
    Last
    <ng-icon
      name="bootstrap-chevron-bar-right"
      size="16"
      strokeWidth="4"
    ></ng-icon>
  </button>
</div>
