<div id="header-bar">
  <div class="ml-4 mt-2">
    <button (click)="signInClicked()" *ngIf="!session.data.signedIn">
      Sign In
    </button>
    <span *ngIf="session.data.signedIn" class="font-bold mr-4">{{
      session.data.UserName
    }}</span>
    <button (click)="signOut()" *ngIf="session.data.signedIn">Sign Out</button>
  </div>

  <div class="flex flex-wrap justify-between mx-4 mt-2">
    <button routerLink="/">Home</button>
    <button routerLink="/dashboard">Dashboard</button>
    <button routerLink="/projects">Projects</button>
    <button routerLink="/issues">Issues</button>
    <button routerLink="/users">Users</button>
    <button routerLink="/time_clocks">Time Clocks</button>
  </div>
</div>

<app-sign-in-dialog (signIn)="signIn($event)"></app-sign-in-dialog>
