<button class="ml-4 mt-2" (click)="signInClicked()">Sign In</button>

<div class="flex flex-wrap justify-between mx-4 mt-2">
  <button routerLink="/">Home</button>
  <button routerLink="/dashboard">Dashboard</button>
  <button routerLink="/projects">Projects</button>
  <button routerLink="/issues">Issues</button>
  <button routerLink="/users">Users</button>
  <button routerLink="/time_clocks">Time Clocks</button>
</div>

<div class="p-4">
  <router-outlet></router-outlet>
</div>

<app-sign-in-dialog (signIn)="signIn($event)"></app-sign-in-dialog>
