<div id="footer-bar">
  <div class="flex flex-wrap justify-between">
    <div class="flex flex-wrap">
      <h2>Issue</h2>
      <span class="mx-4">|</span>
      <h2>Tracker</h2>
    </div>
    <div>
      <form [formGroup]="themeForm">
        <div class="flex flex-wrap">
          <div class="mr-4">
            <label for="Palette" class="mr-2">Palette</label>
            <select
              name="Palette"
              formControlName="Palette"
              (change)="sendThemeChange()"
            >
              <option *ngFor="let name of paletteNames" [value]="name">
                {{ name }}
              </option>
            </select>
          </div>
          <div>
            <input
              type="checkbox"
              name="Dark"
              formControlName="Dark"
              (change)="sendThemeChange()"
            />
            <label for="Dark" class="ml-2">Dark</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
