<div class="flex flex-wrap">
  <span class="mr-2 mt-1">
    <ng-icon name="bootstrap-clock" size="24" strokeWidth="4"></ng-icon>
  </span>
  <h1>Time Clocks</h1>
  <button class="ml-4" *ngIf="session.data.signedIn" (click)="newTimeClock()">
    New Time Clock
    <ng-icon
      name="bootstrap-plus-circle"
      size="16"
      strokeWidth="4"
      class="relative top-0.5"
    ></ng-icon>
  </button>
</div>

<app-time-clock-filter
  [users]="users"
  [issues]="issues"
  [projects]="projects"
  (filterTimeClocks)="filterTimeClocks($event)"
></app-time-clock-filter>

<app-time-clock-card
  *ngFor="let timeClock of paginated"
  [timeClock]="timeClock"
  (editTimeClock)="editTimeClock($event)"
></app-time-clock-card>

<app-pagination-controls
  [count]="count"
  [limit]="limit"
  [offset]="offset"
  (pageChanged)="pageChanged($event)"
  (limitChanged)="limitChanged($event)"
></app-pagination-controls>

<app-time-clock-dialogs
  [issues]="issues"
  [projects]="projects"
  [users]="users"
  [newTimeClock]="editor['new']"
  [editTimeClock]="editor['edit']"
  (createTimeClock)="createTimeClock($event)"
  (updateTimeClock)="updateTimeClock($event)"
></app-time-clock-dialogs>
