<div class="flex flex-wrap">
  <h1>Issues</h1>
  <button class="ml-4" *ngIf="session.data.signedIn" (click)="newIssue()">
    New Issue
  </button>
</div>

<app-issue-filter
  [users]="users"
  (filterIssues)="filterIssues($event)"
></app-issue-filter>

<app-issue-card
  *ngFor="let issue of paginated"
  [issue]="issue"
  (editIssue)="editIssue($event)"
></app-issue-card>

<app-pagination-controls
  [count]="count"
  [limit]="limit"
  [offset]="offset"
  (pageChanged)="pageChanged($event)"
  (limitChanged)="limitChanged($event)"
></app-pagination-controls>

<app-issue-dialog
  [users]="users"
  [projects]="projects"
  [newIssue]="editor['new']"
  [editIssue]="editor['edit']"
  (createIssue)="createIssue($event)"
  (updateIssue)="updateIssue($event)"
></app-issue-dialog>
